/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

/*
@import url('http://localhost:3000/assets/bpa-icons/style.css');
@import url('http://localhost:3000/assets/bundes/style.css');
@import url('http://localhost:3000/assets/condicons/codicon.css');
@import url('http://localhost:3000/assets/codicons/codicon.css');
@import url('http://localhost:3000/assets/fontawesome-free/css/all.min.css');
@import url('http://localhost:3000/assets/icofont/icofont.min.css');
@import url('http://localhost:3000/assets/kreon/style.css');
@import url('http://localhost:3000/assets/noto-sans/noto-sans.css');
@import url('http://localhost:3000/assets/roboto/roboto.css');
*/

@import url('https://public-ui.github.io/assets/bpa-icons/style.css');
@import url('https://public-ui.github.io/assets/bundes/style.css');
@import url('https://public-ui.github.io/assets/condicons/codicon.css');
@import url('https://public-ui.github.io/assets/codicons/codicon.css');
@import url('https://public-ui.github.io/assets/fontawesome-free/css/all.min.css');
@import url('https://public-ui.github.io/assets/icofont/icofont.min.css');
@import url('https://public-ui.github.io/assets/kreon/style.css');
@import url('https://public-ui.github.io/assets/noto-sans/noto-sans.css');
@import url('https://public-ui.github.io/assets/roboto/roboto.css');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #324454;
	--ifm-color-primary-dark: #2d3d4c;
	--ifm-color-primary-darker: #2b3a47;
	--ifm-color-primary-darkest: #23303b;
	--ifm-color-primary-light: #374b5c;
	--ifm-color-primary-lighter: #394e61;
	--ifm-color-primary-lightest: #41586d;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.footer__link-item:hover {
	color: #fff !important;
}

* {
	font-family: 'Noto Sans', sans-serif !important;
}

kol-toast {
	display: block;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #25c2a0;
	--ifm-color-primary-dark: #21af90;
	--ifm-color-primary-darker: #1fa588;
	--ifm-color-primary-darkest: #1a8870;
	--ifm-color-primary-light: #29d5b0;
	--ifm-color-primary-lighter: #32d8b4;
	--ifm-color-primary-lightest: #4fddbf;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* hide colorModeToggle */
button[class*='colorModeToggle'],
button[class*='toggleButton'] {
	display: none;
}

p {
	hyphens: auto;
	text-align: justify;
}

a[aria-current='page'] {
	font-weight: 700;
}

.navbar {
	box-shadow: none !important;
}

#doc-app > footer,
#doc-app > div > header {
	background-color: #345;
}

/* #doc-app > footer:hover,
#doc-app > div > header:hover {
	background-image: radial-gradient(#567 2px, #345 2px);
	background-size: 50px 50px;
} */

kol-link-button {
	text-shadow: none;
}

.text--truncate {
	text-overflow: unset !important;
}

kol-button,
kol-link-button {
	display: block;
}
