/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

@import url('./loader.css');

@import url('https://public-ui.github.io/assets/fontawesome-free/css/all.min.css');
@import url('https://public-ui.github.io/assets/kolicons/style.css');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
	--ifm-color-primary: #324454;
	--ifm-color-primary-dark: #2d3d4c;
	--ifm-color-primary-darker: #2b3a47;
	--ifm-color-primary-darkest: #23303b;
	--ifm-color-primary-light: #374b5c;
	--ifm-color-primary-lighter: #394e61;
	--ifm-color-primary-lightest: #41586d;
	--ifm-code-font-size: 95%;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
	--ifm-navbar-height: 5rem;
	/* 3rem (select) + 2rem (padding) */
}

.footer__link-item:hover {
	color: #fff !important;
}

* {
	font-family: Verdana, sans-serif !important;
}

kol-toast {
	display: block;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
	--ifm-color-primary: #25c2a0;
	--ifm-color-primary-dark: #21af90;
	--ifm-color-primary-darker: #1fa588;
	--ifm-color-primary-darkest: #1a8870;
	--ifm-color-primary-light: #29d5b0;
	--ifm-color-primary-lighter: #32d8b4;
	--ifm-color-primary-lightest: #4fddbf;
	--docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* hide colorModeToggle */
[class^='toggle_node_modules'],
button[class*='colorModeToggle'],
button[class*='toggleButton'] {
	display: none;
}

p {
	hyphens: auto;
}

a[aria-current='page'] {
	font-weight: 700;
}

.kolibri-navbar-wrapper {
	border-bottom: 1px solid var(--ifm-toc-border-color);
}

.kolibri-navbar .navbar {
	box-shadow: none;
	height: unset;
	padding: 0;
	position: unset;
	top: unset;
	z-index: unset;
}

.navbar__items {
	flex: 0 0 auto;
}

/* search */
.navbar__items--right {
	flex-grow: 1;
	justify-content: flex-start;
}

.navbar__items [class^='searchBox_node_modules'] {
	position: unset;
	width: 100%;
}

.navbar__search-input {
	width: 100%;
}

#doc-app > footer,
#doc-app > div > header {
	background-color: #345;
}

/* #doc-app > footer:hover,
#doc-app > div > header:hover {
	background-image: radial-gradient(#567 2px, #345 2px);
	background-size: 50px 50px;
} */

kol-link-button {
	text-shadow: none;
}

.text--truncate {
	text-overflow: unset !important;
}

kol-button,
kol-link-button {
	display: block;
}

.popover-container {
	border: var(--border-width) solid var(--color-primary);
	display: none;
	padding: 1rem;
	width: 300px;
}

.popover-paragraph {
	margin-top: 10px;
	font-size: 0.9rem;
}

.popover-link-button {
	display: inline-block;
	border-radius: 9999px;
	text-decoration: none;
}

.used-by-gallery ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	place-items: center;
}

.used-by-gallery ul li {
	width: 15rem;
}

/* Highlighting for the diff code blocks */
.token.inserted-sign {
	color: #00cc00;
	background-color: #e6ffe6;
}

.token.deleted-sign {
	color: #cc0000;
	background-color: #ffe6e6;
}

/* Components Overview */

.components-overview {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	padding-top: 1rem;
}

.components-overview-item {
	position: relative;
	height: auto;
}

.components-overview-item__card-content {
	display: flex;
	flex-flow: column;
	height: 100%;
	justify-content: space-between;
}

.components-overview-item__link {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	cursor: pointer;
}

.dropdown-separator {
	margin: 0.25rem 0;
}

.dropdown-archived-versions .dropdown__link {
	color: gray;
}

.dropdown-archived-versions .dropdown__link:hover {
	background-color: transparent;
	color: gray;
}

.version-hint {
	background: linear-gradient(90deg, #facc15, #fbbf24);
	/* leichter gelber Verlauf */
	color: #1f2937;
	/* dunkles Grau für gute Lesbarkeit */
	font-weight: 500;
	margin: 0;
	text-align: center;
	padding: 0.5rem 1rem;
	font-size: 0.8rem;
	border-bottom: 1px solid #e5e7eb;
	/* feine untere Linie */
	position: sticky;
}

.version-hint a {
	color: #1d4ed8;
	/* schönes kräftiges Blau */
	text-decoration: underline;
	font-weight: 600;
}

.version-hint a:hover {
	text-decoration: none;
}

@media (max-width: 767px) {
	.components-overview {
		grid-template-columns: 1fr;
	}
}

.indented-text {
	border-left: 2px solid #004b76;
	padding: 0 8px;
}

.preview {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto max-content;
}

.preview.props {
	grid-template-columns: 1fr minmax(min-content, 400px);
}
