name: CI-Pipeline

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: 'workflow-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}'
  cancel-in-progress: true

jobs:
  build-and-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: ./.github/actions/pnpm-setup

      - name: Lint
        run: pnpm run lint

      - name: Build
        run: pnpm run build
