name: CI-Pipeline

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: "workflow-${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}"
  cancel-in-progress: true

jobs:
  build-and-check:
    name: ${{ matrix.task }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        task: [build, lint]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm and install dependencies
        uses: ./.github/actions/pnpm-setup

      - name: Run ${{ matrix.task }}
        run: pnpm run ${{ matrix.task }}
