name: Netlify Test Deploy - Deploy main branch under fixed alias

on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build Artifacts
        uses: ./.github/actions/build-artifacts
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Netlify Deploy
        uses: netlify/actions/cli@master
        id: netlify
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ vars.NETLIFY_SITE_ID }}
        with:
          args: deploy --dir=build --alias="$GITHUB_REF_NAME" --no-build
